
/****** DEFAULT CLASS *****/

.defaultheader {
  background-color: #332730;
  border: 3px solid #BFC7BB;
  color: #BFC7BB;
  margin-top: 10px;
}

.defaultmainbody {
  background-color: #57324F;
  color: #CFF9FF;
  font-family: 'Andika', sans-serif;
  margin:auto 100px;
  max-width: 100%;
}


.defaultheading {
  font-family:'Shadows Into Light Two', cursive;
  text-align: center;
  margin-bottom: -25px;
}

.defaultsubeading {
  font-family:'Shadows Into Light Two', cursive;
  text-align: center;
}

.defaultmaintext {
  font-size: 1.2em;
}

.defaultunorderedlist {
  list-style-image: url(darkdonut.jpg);
}

.defaultlist {
  margin: 10px 10px;


}

.defaultfieldset {
  border: 3px solid #BFC7BB;
  padding: 20px;
  margin: 0px 20px 20px 0px;
  text-align: left;
  display: inline-block;
  color: #BFC7BB;
  background-color: #332730;

}

.defaultlegend {
  background-color: #787051;
  color: white;
  border: 3px solid #BFC7BB;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  font-size: 1em;

}

.defaulttable {
  background-color: #332730;
  color: #BFC7BB;
  border: 2px solid #BFC7BB;
  margin: auto;
  width: 600px;
}

.defaultinput {
background-color: #BFC7BB;
color: #332730;
border: 1px solid #332730;
border-radius: 10px;
padding: 5px 5px 5px 5px;
margin-bottom: 5px;
font-family: sans-serif;
letter-spacing: .1em;

}
.defaultbutton {
  background-color: #787051;
  color: white;
  border: 1px solid #BFC7BB;
  border-radius: 10px;

}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

:-ms-input-placeholder {
   color: black;
}


th {
  font-family:'Shadows Into Light Two', cursive;
  letter-spacing: 0.1em;
  font-size: 90%;
  text-align: center;
  padding: 7px 10px 10px 10px;
}


td {
  border-left: 1px solid #BFC7BB;
  text-align: center;
  vertical-align: center;
  font-size: 85%;
}
